.textBox, .chatInput {
	width: 500px;
	display: block;
	margin: auto;
}

.textBox {
	height: 300px;
	border: 1px solid black;
	text-align: left;
	padding-left: 15px;
	overflow: auto;
}

h1 {
	font-size: 35px;
	margin: 10px;
}

.p1text, .p2text {
	color: black;
}


.nameInput {
	padding: 25px;
}

.square {
/*	width: 250px;*/
	height: 250px;
	border: 1px solid black;
}

h2 {
	font-size: 30px;
}

.p1GameUI, #p1Score, .p1buttons {
	display: none;
}