body {
	background-color: #718e9d;
}

.textBox, .chatInput {
	width: 500px;
	display: block;
	margin: auto;
}

.textBox {
	height: 300px;
	border: 1px solid black;
	text-align: left;
	overflow: auto;
	border-radius: 15px;
}

h1 {
	font-size: 45px;
	margin: 10px;
	color: white;
}

h2 {
	font-size: 30px;
}

h1, h2 {
	font-family: 'Lobster', cursive;
}

.p1text, .p2text {
	color: black;
}

.adminMessage {
	background-color: grey;
	color: white;
}

input {
	border: 1px solid black;
}

.nameInput {
	padding: 25px;
}

.square, .textBox {
	background-color: white;
}


.square {
/*	width: 250px;*/
	height: 250px;
	border: 1px solid black;
}

.squareNoStyle {
	border: none;
	background: none;
	color: white;
}

.p1GameUI, #p1Score, .p1buttons, .p2GameUI, #p2Score, .p2buttons {
	display: none;
}

p {
	word-wrap: break-word;
	padding: 0 15px;
}